[Unit]
Description=NodeSet node service for StakeWise
After=network.target

[Service]
ExecStart=nodeset start
ExecStart=nodeset shutdown
Type=exec
Restart=no

[Install]
WantedBy=default.target
RequiredBy=network.target