[Unit]
Description=NodeSet node service for StakeWise
After=network.target

[Service]
ExecStart=nodeset start
ExecStop=nodeset shutdown
Type=simple
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=default.target
RequiredBy=network.target